*{
    padding: 0;
    margin: 0;
}
#navbar {
    background-color: rgb(216, 234, 185);
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    overflow: hidden;
    border-radius: 5px;
    height: 30px;
    width: auto;
    cursor: pointer;
}
#logo {
    display: flex;
    color: white;
    font-weight: bold;
}
#logo img {
    height: 110px;
    width: 180px;

}
#search {
    background-color: honeydew;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
   
}
#search input {
    color: rgb(126, 135, 114);
    width: 300px;
    height: 40px;
    color: grey;
    border-radius: 8px;
    border: 1px solid black;
}
#search button {
    background-color: rgb(161, 236, 181);
    color: black;
    width: 140px;
    height: 38px;
    border-radius: 8px;
    margin-left: 7px;
    border: 1px solid black;
}
#categories {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/053/698/268/small/circular-frame-with-healthy-food-empty-insidegraphy-photo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.categ {
    font-size: 45px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.9);
    gap: 50px;
    font-weight: 500;
    box-shadow: 0 4px 20px 0 rgba (0,0,0,0.8);
    padding: 10px 20px ;
    transition: transform 0.2s;
}
.categ:hover{
    background-color: azure;
    height: 70px;
    width: auto;
    cursor: pointer;
}
#meal {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(18, 85, 15);
}
#filters {
    margin-top: 30px;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 20px;
    gap: 50px;
}
.options {
    font-size: 20px;
    font-weight: 300;
    border-radius: 8px;
    background-color: rgb(239, 255, 214);
    padding: 10px;
    box-shadow: 0 1px 5px 0 ;
    transition: transform 0.3s ease ;
}
.options:hover {
    cursor: pointer;
    background-color: azure;
    transform: scale(1.2);
}
#recommended{ 
    color: grey;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 28px;
    margin-bottom: 20px;
}
.recom1 {
    background-color: #fff;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 32px;
    padding-top: 2px;
}
.top1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}
.top1 {
    text-align: center;
    border-radius: 14px;
    background-color: rgb(218, 246, 203);
    padding: 20px;
    transition: transform 0.3s ease ;

}
.top1:hover {
    transform: scale(1.2);
}

.t1 {
    font-size: 24px;
    font-family: cursive;
}
.common {
    border-radius: 7px;
    text-align: center;
    background-color: rgb(61, 247, 61);
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}
.common:hover {
    cursor: pointer;
    background-color: azure;
}
#off {
    font-size: 18px;
    color: grey;
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.offers {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px 0;
}
.offer1 {
    background-color: rgb(203, 237, 195);
    border: 1px solid black;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    box-shadow: 0 3px 4px  ;
    margin-bottom: 18px;

}
.offer1:hover {
    background-color: rgb(121, 185, 249);
    height: 30px;
}
footer {
      background: #333;
      color: #eee;
      text-align: center;
      padding: 20px 10px;
      font-size: 1rem;
      margin-top: 30px;
      height: 300px;
    }
    .footer-links {
      margin-bottom: 10px;
    }
    .footer-links a {
      color: #bbb;
      text-decoration: none;
      margin: 0 12px;
    }
    .footer-links a:hover {
      color: #4caf50;
    }
    .social-icons {
      margin-top: 8px;
    }
    .social-icons span {
      display: inline-block;
      
      color: #fff;
      border-radius: 50%;
      padding: 7px 11px;
      margin: 0 6px;
      font-size: 1.05rem;
      vertical-align: middle;
    }
